@model YueBoAdmin.Models.SensitiveWord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SensitiveWord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SensitiveContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SensitiveContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeductionPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeductionPoint)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SensitiveWordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
